/*stle file created  by Jaymee Kambel 
======================
00: CSS variables
01: color
02: typography

*/

@font-face {
    font-family: 'myfont';
    src: url(../fonts/chunkfive.woff);

}

header h1 {
    font-family: 'myfont' sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 1px;
    line-height: 1em;
}

h3 {

    font-family: 'ranchers', cursive;
    font-size: 1em;

}




/* 00: css variables */
:root {

    --page-color: rgba(34, 130, 152, 0.01);
    --body-color: rgba(33, 144, 21, 0.01);
    --sidebar-color: rgba(0, 76, 91, 0.01);
    --footbar-color: rgba(13, 47, 53, 0.01);
    --tab-color: rgba(7, 48, 56, 0.01);
    --page-position: 80%;
    --page-width: 30%;
    --tab-gap: 2vw;
    --tab-width: 10vw;


}

/* 01: color */

body {
    background-color: var(--body-color);

}

aside.sidebar {

    background-color: var(--sidebar-color);
}

#zen-intro {

    background-color: var(--page-color);

}

#zen-suporting {

    background-color: var(--page-color);
}

/* 02: Typography */


/* 03: layout */

div.explanation,
div.requirements,
div.benefits,
div.participation {

    position: fixed;
    top: var(--page-position) width: (var(--page-width)) padding: 2%;
    margin: 10px;
    background-image: url(../img/newspaper1.jpg);
    transition: background-color 2s ease-in-out;



}

div.explanation {

    left: 0%;

}

div.requirements {

    left: 12vw;



}

div.benefits {

    left: 24vw;
}

div.participation {

    left: 35vw;
}

div.explanation h3,
div.requirements h3,
div.benefits h3,
div.participation h3 {

    margin-top: -15%;
    width: var(--tab-width);
    height: var(--tab-height);
    background-color: (var(--tab-color));
    border-top-left-radius: 50px;
    border-top-right-radius: 20px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 2s ease-in-out;
}

div.explanation h3:hover {
    background-color: var(--footbar-color);
}






aside.sidebar {

    position: absolute;
    top: 100px;
    width:

}

/* footer -- try it outside of class */
/* introduction in the middle */
section.intro {

    position: fixed;
    top: 0;
    left: 30%;
    width: 30%;
    height: 80%;
    padding: 2%;
    background-image: url(../img/newspaper3.jpg);
    transform: rotate(20deg) translate(-100px, 0);
}

/*; other declaration */

a:hover {

    font-size: 1.2em;
    text-indent: -100px;

}


p::first-letter {
    font: size 2em;
    font-style: italic;
}

div {
    border: 0.5rem outset darkred;
    outline: 0.5rem solid red;
    box-shadow: 0 0 0 2rem black;
    border-radius: 20px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
}

/* 05: more practice on transition*/

section.intro h3~p {

    opacity: 1;
    transition: all 3s ease-in-out;

}

section.intro h3:hover~p {

    opacity: 0;
    transform: scale(0.2);


}

/*06 animation */

footer {
    animation: 10s ease-in-out 2s alternate infinite moveback;

}

@keyframes moveback {
    from {
        transform: translate(-500px, 0);
    }
    30% {
        transform: translate(-300px, 0px);
    }
    50% {
        transform: translate(0px, 0px);
    }
    70% {
        transform: translate(300px, 0px);
    }
    90% {
        transform: translate(500px, 0px);
    }


}

h2{

    background-image: linear-gradient(blue,black,white);
    animation: 4s infinite running changecolor;

}
@keyframes changecolor{
    from{background-image: linear-gradient(purple,white,yellow);}
}

/*07: fancy features*/
div.extra1{

    border-image: linear-gradient(blue,red) 10 / 15px round;
}



aside.sidebar{
    font-size: 0.8em;
    clip-path:polygon(0  0,0 70%, 50% 100%, 100% 70%, 100%, 0);
}

div#design-archives{

    display: none;
}

aside.sidebar h3{
display: none;

}

aside.sidebar ul li{

    list-style: none;
}

